/* Reg fonts - font-family: 'Source Code Pro', monospace;
   Fun fonts - font-family: 'Sixtyfour', sans-serif;
 */

 *{
    padding: 0px;
    margin: 0px;
 }

 body{
    background-color: #021b0ad7;
    display: flex;
    justify-content: center;
 }
    
    

 .header{
    max-width: 100%;
 }
 
 
 .menu{
    display: flex;
    flex-wrap: wrap;
   
 }

 .menu a{
    margin-right: 30px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: #ffcd4e;
    font-size: 1.3rem;
 }