/* Reg fonts - font-family: 'Source Code Pro', monospace;
   Fun fonts - font-family: 'Sixtyfour', sans-serif;
 */

 *{
    padding: 0px;
    margin: 0px;
 }

 body{
    background-color: #eae5d0(60, 63, 73);
 }

 .header{
    max-width: 100%;
 }
 
 
 .menu{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 2%;
 }

 .menu a{
    margin-right: 30px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: #ffcd4e;
 }